@import '~node_modules/modern-normalize/modern-normalize.css';

:root {
    /* fonts */
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;

    /* text colors */
        --main-txt-cl: #2C2C2C;
        --accent-txt-color:  #BBF330;;

    /* bg colors */
        --accent-yellow: #FFE550;
        --accent-green: #BBF330;
}
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
.link {
    text-decoration: none;
    color: currentColor;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* Base styles */

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width: 320px) {
        width: 320px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: 1280px) {
        width: 1280px;
        padding-left: 16px;
        padding-right: 16px;
    }
}