.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: 31px;

    &__item {
        flex-basis: calc((100% - var(--indent) * (var(--items) - 1))/var(--items));
    }
}
.favorites {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 768px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
.favorites__title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33/28);
    padding-bottom: 20px;

    @media screen and (min-width: 768px) {
        font-size: 42px;
        line-height: calc(49/42);
    }
}
.favorites__text {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16/14);
    padding-bottom: 60px;

    @media screen and (min-width: 768px) {
            font-size: 16px;
            line-height: calc(19/16);
        }

    @media screen and (min-width: 1280px) {
        padding-bottom: 40px;
        }
}

.favorites__galery {
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    gap:  31px;
    margin-top: 0;

    --items: 1;

    @media screen and (min-width: 768px) {
        --items: 2;
    }

    @media screen and (min-width: 1280px) {
        --items: 3;
    }
}

    .favorites__img:hover,
    .favorites__img:focus,
    .favorites__img:active {

        @media screen and (max-width: 767px){
            border: 11px solid #BBF330;
            border-radius: 50%;
            //transform: rotate(-45deg);
        }
        
        @media screen and (min-width: 768px) {
                border: 14px solid #BBF330;
                border-radius: 50%;
                //transform: rotate(-45deg);
                
            }
        
        @media screen and (min-width: 1280px) {
                border: 16px solid #BBF330;
                border-radius: 50%;
                //transform: rotate(-45deg);
            }
    }
    

    .favorites__img{
        @media screen and (max-width: 767px) {
                width: 280px;
                height: 282px;
                
                padding: 18px 17px;
                    border: 11px solid #FFE550;
                    border-radius: 50%;
                
                    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
                
            }
        
            @media screen and (min-width: 768px) {
                width: 336px;
                height: 338px;
                
                padding: 20px 20px;
                    border: 14px solid #FFE550;
                    border-radius: 50%;
                
                    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
                
            }
        
            @media screen and (min-width: 1280px) {
                width: 395px;
                height: 397px;
                padding: 25px 24px;
                    border: 16px solid #FFE550;
                    border-radius: 50%;
                
                    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
                
            }
    }

        .favorites__img {
             animation: rotateWithOrigin 5000ms linear 3000ms infinite;
         }
    
         .favorites__img::before {
             transform-origin: center center;
         }
    
         .favorites__img::after {
             top: center;
             left: center;
         }
    
         @keyframes rotateWithOrigin {
             0% {
                 transform: rotate3d(0, 0, 1, 0deg);
             }
    
             100% {
                 transform: rotate3d(0, 0, 1, 360deg);
             }
         }

    .favorites__item:nth-child(n + 4) {
    
            @media screen and (max-width: 767px) {
                display: none;
            }
        }
    .favorites__thumb {
            @media screen and (max-width: 767px) {
                display: flex;
                align-items: center;
                justify-content: center;
                align-content: center;
            }
        }