.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.link {
    text-decoration: none;
}
.favorites__title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33/28);
    padding-bottom: 20px;

    @media screen and (min-width: 768px) {
        font-size: 42px;
        line-height: calc(49/42);
    }
}
.favorites__text {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16/14);
    padding-bottom: 60px;

    @media screen and (min-width: 768px) {
            font-size: 16px;
            line-height: calc(19/16);
        }

    @media screen and (min-width: 1280px) {
        padding-bottom: 40px;
        }
}

.favorites__galery {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap:  32px;
    margin-top: 0;

    --items: 1;

    @media screen and (min-width: 768px) {
        --items: 2;
    }

    @media screen and (min-width: 1280px) {
        --items: 3;
    }}

    .favorites__img {
        border: 11px solid #FFE550;
        border-radius: 139.658px;

        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 768px) {
                border: 14px solid #FFE550;
                    border-radius: 167.166px;
            }
        
            @media screen and (min-width: 1280px) {
                border: 16px solid #FFE550;
                    border-radius: 197px;
            }
    }

    .favorites__img:hover,
    .favorites__img:focus,
    .favorites__img:active {

        @media screen and (max-width: 767px){
            border: 11px solid #BBF330;
            border-radius: 139.658px;
        }
        
        @media screen and (min-width: 768px) {
                border: 14px solid #BBF330;
                border-radius: 167.166px;
            }
        
        @media screen and (min-width: 1280px) {
                border: 16px solid #BBF330;
                border-radius: 197px;
            }
    }