.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fefefe;
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);

  background-repeat: no-repeat;

  @media screen and (min-width: 320px) {
    background-size: 104px, 253px, 110px;
    background-position: top 0px right, top 563px center, top 132px left;
    background-image: url(../images/footer/right@1x_mobile.png),
      url(../images/footer/central@1x_mobile.png),
      url(../images/footer/left@1x_mobile.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/footer/right@2x_mobile.png),
        url(../images/footer/central@2x_mobile.png),
        url(../images/footer/left@2x_mobile.png);
    }
  }

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: 203px, 785px;
    background-position: top 0px right, top -12px center;
    background-image: url(../images/footer/right@1x_tablet.png),
      url(../images/footer/central@1x_tablet.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/footer/right@2x_tablet.png),
        url(../images/footer/central@2x_tablet.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-size: 1211px;
    background-position: bottom;
    background-image: url(../images/footer/central@1x_desktop.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/footer/central@2x_desktop.png);
    }
  }
}

.footer__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 100px;
  }

  @media screen and (min-width: 1280px) {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 80px;
  }
}

.footer__logo {
  width: 69px;
  height: 51px;

  -webkit-animation: blink-1 3s infinite both;
    animation: blink-1 3s infinite both;
}

.footer-nav__list {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 57px;
    gap: 28px;
  }
}

.footer-nav__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.footer-nav__link {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav__link:hover {
  color: #bbf330;
}

.footer-subscribe {
  width: 100%;
  @media screen and (min-width: 1280px) {
    max-width: 395px;
  }
}

.footer-subscribe__title {
  display: inline-block;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #2c2c2c;
}

.footer-subscribe__group {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    gap: 13px;
    margin-bottom: 12px;
  }
}

.footer-subscribe__email {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.footer-subscribe__input {
  width: 100%;
  height: 42px;
  padding: 12px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #505050;
  border: 0.854167px solid #ffe550;
  border-radius: 30px;
  outline: transparent;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    min-width: 279px;
    margin: 0;
  }
}

.footer-subscribe__input:hover {
  border: 0.854167px solid #7eb101;
}

.footer-subscribe__input:invalid {
  border: 0.854167px solid #ff705d;
}

.footer-subscribe__btn {
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-bottom: 20px;
  padding: 10px 22px;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  border-radius: 30px;
  color: #2c2c2c;
  background-color: #ffffff;
  border: 0.854167px solid #7eb101;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  
  @media screen and (min-width: 768px) {
    display: block;
    align-items: center;
    margin: 0;
  }
}

.footer-subscribe__btn:hover {
  background-color: #ffe550;
}

.footer-subscribe__agreement {
  display: inline-block;
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);
  color: #2c2c2c;

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 0px;
  }
}

.agreement-link {
  text-decoration-line: underline;
  color: #7eb101;
}

.footer-category {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.footer-category__list {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 33px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    gap: 20px;
  }
}

.footer-category__link {
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);
  text-decoration-line: underline;
  color: #7eb101;

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}

.footer-copyright {
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);
  color: #2c2c2c;

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}
