.header {
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
}

.header-list {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    align-items: center;
    gap: 28px;
}
.header-btn {
    display: block;
    width: 100px;
    height: 32px;
    border-radius: 30px;
    background-color: var(--accent-green);
}

.header-link {
    font-family: 'Roboto';
    padding-top: 28px;
    padding-bottom: 28px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16 / 14);
    display: block;
}

