.hero {
  padding-top: 60px;
  padding-bottom: 50px;

  @media screen and (min-width: 768px) {
    padding-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 160px;
  }
}

.hero__slider {
  display: none;

  @media screen and (min-width: 768px) {
    position: absolute;

    bottom: -73px;
    right: 32px;

    display: block;
    width: 320px;
    height: 320px;

    background: #fefefe;
    border: 14px solid #ffe550;
    border-radius: 50%;
  }
  @media screen and (min-width: 1280px) {
    top: -146px;
    right: 16px;

    width: 580px;
    height: 580px;

    background: #fefefe;
    border: 26px solid #ffe550;
    border-radius: 50%;
  }
}

.container-hero {
  position: relative;
}

.hero__block {
  @media screen and (min-width: 480px) {
    margin-left: auto;
    margin-right: auto;

    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    margin-left: 0;
    margin-right: 0;

    max-width: 537px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 505px;
  }
}

.hero__title {
  margin-bottom: 28px;

  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;

  -webkit-animation: text-shadow-drop-center 5s infinite both;
  animation: text-shadow-drop-center 5s infinite both;

  color: var(--title-text-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 44px;

    font-size: 42px;
    line-height: 1.2;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 28px;
    font-size: 48px;
    line-height: 1.2;
  }
}

.hero__text {
  margin-bottom: 28px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;

    max-width: 336px;

    font-size: 16px;
  }
}

.order__btn {
  display: inline-block;
  padding: 6px 18px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;

  color: #2c2c2c;
  background-color: #bbf330;
  border-radius: 30px;
  border: none;

  animation: animate125 3000ms infinite 1000ms;
}

.order__btn--green {
  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: #b5ff00;
  }
}

.slider-left {
  opacity: 0;

  transition: fill var(--animation) box-shadow var(--animation);

  @media screen and (min-width: 768px) {
    opacity: 1;
    position: absolute;
    top: 132px;
    left: -22px;

    width: 34px;
    height: 28px;

    background-color: #fefefe;
    fill: #2c2c2c;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
  }

  @media screen and (min-width: 1280px) {
    position: absolute;
    top: 244px;
    left: -42px;

    width: 48px;
    height: 40px;

    background-color: #fefefe;
    fill: #2c2c2c;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
  }

  &:hover {
    fill: #7eb101;
  }

  &:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  }
}

.slider-right {
  opacity: 0;

  @media screen and (min-width: 768px) {
    opacity: 1;
    position: absolute;
    top: 132px;
    right: -22px;

    width: 34px;
    height: 28px;

    background-color: #fefefe;
    fill: #2c2c2c;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
  }

  @media screen and (min-width: 1280px) {
    position: absolute;
    top: 244px;
    right: -42px;

    width: 48px;
    height: 40px;

    background: #fefefe;
    fill: #2c2c2c;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
  }

  &:hover {
    fill: #7eb101;
  }

  &:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  }
}
