.menu-btn {
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 23px;
    height: 16px;
    padding: 0;

    background-color: transparent;
    border: none;

    cursor: pointer;

    @media screen and (min-width: 768px) {
        display: none;
    }

    .menu-overlay & {
        position: absolute;
        top: 11px;
        right: 11px;
    }
}
.menu-close-icon {
    fill: #000000;
}
.menu-close-icon:active {
    fill: #FFE550;
}

.menu-overlay {
    position: fixed;
    top: 50;
    left: -20;
    z-index: 100;

    width: 100%;
    height: 100%;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    

    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
        display: none;
    }

    &.is-open {
        opacity: 1;
        pointer-events: initial;
        visibility: visible;
    }
}

.menu-container {
    display: flex;
    flex-direction: column;

    margin-left: auto;
    max-width: 130px;
    background-color: #fff;
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
    border-radius: 30px 0px 30px 30px;

    transform: translateX(100%);
    transition: transform var(--anim-fast);
    overflow: hidden;

    .menu-overlay.is-open & {
        transform: translateX(0);
    }
}

.mobile-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}
.mobile-nav-item {
    padding: 16px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.mobile-nav-item:hover {
    background-color: #BBF330;
    
}

