.offerings {
  background-image: url(../images/background_png/bg-offerings@1x_sm_result.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
}
