$font-style-roboto: Roboto, sans-serif;

    :root {
        --primary-text-color: #2C2C2C;
        --title-text-color: #2C2C2C;
        --accent-green-color: #BBF330;
        --yellow-main-color: #FFE550;
        --dark-green-color: #7EB101;
        --white-color: #FFFFFF;
        --indent: 32px;
        --items: 3;
        --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        --shadow-fruit: radial-gradient(50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0) 100%);
        --modal-backdrop-color: rgba(0, 0, 0, 0.2);
    }

