$font-style-roboto: Roboto, sans-serif;

:root {
  --primary-text-color: #2c2c2c;
  --title-text-color: #2c2c2c;
  --accent-green-color: #bbf330;
  --yellow-main-color: #ffe550;
  --dark-green-color: #7eb101;
  --focus-green-color: #597d00;
  --focus-btn: #b5ff00;
  --white-color: #ffffff;
  --indent: 32px;
  --items: 3;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --shadow-fruit: radial-gradient(
    50% 50% at 50% 50%,
    #2f583f 0%,
    rgba(105, 105, 105, 0) 100%
  );
}
