<section class="section">
<div class="container">
    <div class="customers__block">
<h2 class="customer__title title">What our Customers Say</h2>
<p class="customer__text text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
   <ul>
    <li customers__reviews>
    <!--тут зірки-->
   <span class="customers__reviews-text">“The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind, No questions asked”</span>
<!--тут фото-->
<span reviews-name>Sumith Shah</span>
<span reviews-profession>Some Dude</span>
</li>
<li>
    <!--тут зірки-->
   <span class="customers__reviews-text">““The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering from this app””</span>
<!--тут фото-->
<span reviews-name>Sumith Shah</span>
<span reviews-profession>Some Dude</span>
</li>
</ul>
</div>
</section>