<section class="customers">
    <div class="container ">
        <div class="customers__block">
    <h1 class="customer__title">What our Customers Say</h1>
    <p class="customer__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
       <ul class="customers__ul list">
        
        <li class="customers__reviews">
        <!--тут зірки-->
        <div class="customers__fon">
        <span class="customers__text">“The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind, No questions asked”</span>
     <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <circle cx="24" cy="24" r="23" fill="url(#pattern0)" stroke="#FFE553" stroke-width="2"/>
    <defs>
    <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
    <use xlink:href="#image0_480_6562" transform="scale(0.00333333)"/>
    </pattern>
    </defs>
    </svg>
    <span class="reviews__name">Sumith Shah</span>
    <span class="reviews__profession">Some Dude</span>
    </div>
    </li>
    <li class="customers__reviews">
      
        <!--тут зірки-->
        <div class="customers__fon">
       <span class="customers__text">“The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering from this app”</span>
       <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <circle cx="24" cy="24" r="23" fill="url(#pattern0)" stroke="#FFE553" stroke-width="2"/>
        <defs>
        <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
        <use xlink:href="#image0_480_6563" transform="scale(0.00333333)"/>
        </pattern>
    </defs>
    </svg>
    <span class="reviews__name">Sumith Shah</span>
    <span class="reviews__profession">Some Dude</span>
</div>
    </li>
    </ul>
    </div>
    </section>