<section class="favorites" id="menu">
  <div class="container">
    <h2 class="favorites__title">Some of our favorites</h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__galery list card-set">
      <li class="favorites__item card-set__item">
        <div class="favorites__thumb">
          <img
            srcset="
              ./images/favorites/gamburger@1x_lg_315_result.jpg 315w,
              ./images/favorites/gamburger@1x_md_268_result.jpg 268w,
              ./images/favorites/gamburger@1x_sm_223_result.jpg 223w,
              ./images/favorites/gamburger@2x_lg_630_result.jpg 630w,
              ./images/favorites/gamburger@2x_md_536_result.jpg 536w,
              ./images/favorites/gamburger@2x_sm_446_result.jpg 446w
            "
            class="favorites__img"
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, 100vw"
            src="./images/favorites/gamburger@1x_lg_315_result.jpg"
            alt="Burger"
            width="315"
            height="315"
          />
        </div>
      </li>
      <li class="favorites__item card-set__item">
        <div class="favorites__thumb">
          <img
            srcset="
              ./images/favorites/pasta@1x_md_268_result.jpg 268w,
              ./images/favorites/pasta@1x_lg_315_result.jpg 315w,
              ./images/favorites/pasta@1x_sm_223_result.jpg 223w,
              ./images/favorites/pasta@2x_lg_630_result.jpg 630w,
              ./images/favorites/pasta@2x_md_536_result.jpg 536w,
              ./images/favorites/pasta@2x_sm_446_result.jpg 446w
            "
            class="favorites__img"
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, 100vw"
            src="./images/favorites/pasta@1x_lg_315_result.jpg"
            alt="Pasta"
            width="315"
            height="315"
          />
        </div>
      </li>
      <li class="favorites__item card-set__item">
        <div class="favorites__thumb">
          <img
            srcset="
              ./images/favorites/pizza@1x_lg_315_result.jpg 315w,
              ./images/favorites/pizza@1x_md_268_result.jpg 268w,
              ./images/favorites/pizza@1x_sm_223_result.jpg 223w,
              ./images/favorites/pizza@2x_lg_630_result.jpg 630w,
              ./images/favorites/pizza@2x_lg_630_result.jpg 536w,
              ./images/favorites/pizza@2x_sm_446_result.jpg 446w
            "
            class="favorites__img"
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, 100vw"
            src="./images/favorites/pizza@1x_lg_315_result.jpg"
            alt="Pizza"
            width="315"
            height="315"
          />
        </div>
      </li>
      <li class="favorites__item card-set__item">
        <div class="favorites__thumb">
          <img
            srcset="
              ./images/favorites/chicken@1x_lg_315_result.jpg 315w,
              ./images/favorites/chicken@1x_md_268_result.jpg 268w,
              ./images/favorites/chicken@2x_lg_630_result.jpg 630w,
              ./images/favorites/chicken@2x_md_536_result.jpg 536w
            "
            class="favorites__img"
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, 100vw"
            src="./images/favorites/chicken@1x_lg_315_result.jpg"
            alt="Chicken"
            width="315"
            height="315"
          />
        </div>
      </li>
      <li class="favorites__item card-set__item">
        <div class="favorites__thumb">
          <img
            srcset="
              ./images/favorites/salat@1x_lg_315_result.jpg 315w,
              ./images/favorites/salat@1x_md_268_result.jpg 268w,
              ./images/favorites/salat@2x_lg_630_result.jpg 630w,
              ./images/favorites/salat@2x_md_536_result.jpg 536w
            "
            class="favorites__img"
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, 100vw"
            src="./images/favorites/salat@1x_lg_315_result.jpg"
            alt="Salat"
            width="315"
            height="315"
          />
        </div>
      </li>
      <li class="favorites__item card-set__item">
        <div class="favorites__thumb">
          <img
            srcset="
              ./images/favorites/borshch@1x_lg_315_result.jpg 315w,
              ./images/favorites/borshch@1x_md_268_result.jpg 268w,
              ./images/favorites/borshch@2x_lg_630_result.jpg 630w,
              ./images/favorites/borshch@2x_md_536_result.jpg 536w
            "
            class="favorites__img"
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, 100vw"
            src="./images/favorites/borshch@1x_lg_315_result.jpg"
            alt="Borshch"
            width="315"
            height="315"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
