<div class="menu-overlay" data-menu>
  <div class="menu-container">
    <button class="menu-btn-close btn" type="button" data-menu-close>
      <svg class="menu-close-icon" width="11" height="11">
        <use href="./images/icons/icons-sprite.svg#icon-close-menu"></use>
      </svg>
    </button>

    <ul class="mobile-nav list">
      <li class="mobile-nav__list">
        <a href="./" class="mobile-nav__link link">Home</a>
      </li>
      <li class="mobile-nav__list">
        <a href="#about" class="mobile-nav__link link">About</a>
      </li>
      <li class="mobile-nav__list">
        <a href="#service" class="mobile-nav__link link">Service</a>
      </li>
      <li class="mobile-nav__list">
        <a href="#menu" class="mobile-nav__link link">Menu</a>
      </li>
      <li class="mobile-nav__list">
        <a href="#contact" class="mobile-nav__link link">Contact</a>
      </li>
    </ul>
  </div>
</div>
