<section class="offerings" id="service">
  <div class="container container-offerings">
    <div class="offerings__img">
      <picture>
        <source
          srcset="
            ./images/apple_png/apple@1x_lg_550_result.png  1x,
            ./images/apple_png/apple@2x_lg_1100_result.png 2x
          "
          media="(min-width: 1280px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/apple_png/apple@1x_md_704_result.png  1x,
            ./images/apple_png/apple@2x_md_1408_result.png 2x
          "
          media="(min-width: 768px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/apple_png/apple@1x_sm_280_result.png 1x,
            ./images/apple_png/apple@2x_sm_560_result.png 2x
          "
          media="(max-width: 767px)"
          type="image/png"
        />
        <img src="./images/apple_png/apple@1x_sm_280_result.png" alt="Apple" />
      </picture>
    </div>
    <div class="offerings__block">
      <h2 class="offerings__title">What’s Special About Our Offerings</h2>
      <p class="offerings__text text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <ul class="offerings__list">
        <li class="offerings__item item">
          <h3 class="offerings__subtitle">Fasest Delivery</h3>
          <p class="offerings__subtext">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li class="offerings__item item">
          <h3 class="offerings__subtitle">Easy to order</h3>
          <p class="offerings__subtext">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>
      <button class="order__btn order__btn--white" type="button">
        Order now
      </button>
      <!--<a class="offerings__link read-more link" href="#">Read More ></a>-->

      <div class="container-read-more">
        <input type="checkbox" id="read-more" hidden />
        <p class="extra-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sed
          nihil provident corporis cum numquam accusamus. Dignissimos, dolores
          vitae voluptate, quam, neque provident impedit suscipit molestiae
          facilis dolorum fugit deleniti. Lorem ipsum dolor, sit amet
          consectetur adipisicing elit. Maiores minima voluptatibus quae
          possimus quod soluta, eos distinctio et, fugiat eius molestias
          laboriosam corrupti similique, voluptatem vero eligendi libero
          doloremque necessitatibus.
        </p>
        <label for="read-more" class="read-more"
          >Read <span class="more">more ></span
          ><span class="less">less ></span></label
        >
      </div>
    </div>
  </div>
</section>
