<section class="subscribe">
    <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
    <p class="subscribe__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim
        in eros elementum tristique.</p>
    <form action="" class="subscribe-form">
        <label class="subscribe-form__label" for="email">
            <input class="subscribe-form__input" type="email" name="email" placeholder="Enter your email">
        </label>
        <button class="subscribe-form__btn" type="submit">Subscribe</button>
    </form>

</section>